.body{
  background-image: url(./pexels-rahul-pandit-2086748.jpg);
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  /* position: absolute; */
  /* height: 239%;
  width: 235%; */
}
.heading{
  font-size: 23px;
  margin: 0px 10.5rem;
  padding: 5px;
  display: inline-block;
}
.container{
  border-radius: 8px;
  margin: 16px;
  width: 20rem;
  height: 30rem;
  margin-left: 3rem;
  margin-top: 0rem;
  background-color: #fcf8f8;
  opacity: 0.6;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  border: 1px solid black;
}
.input{
  width: 15rem;
  margin-left: 2.5rem;
  margin-top: 1rem;
  border-radius: 5px;
}
.error{
  margin-left: 8rem;
  color: red;
}
.loader{
  margin-left: 10rem;
  margin-top: 0.5rem;
}
.location{
  font-size: 1.2rem;
  text-align: center;
}
.image{
  margin-left: 1rem;
  margin-top: -4rem;
}
.description{
  text-align: center;
  margin-top: -6rem;
  font-style:normal;
}
.temp{
  text-align: center;
  font-size: 4.5rem;
  margin-top: 0rem;
}
.temp-two{
  text-align: center;
  margin-top: -5rem;
  font-size: small;
  font-weight:600;
}
.big-container{
  margin-top: 1rem;
  border-radius: 8px;
  border: 1px solid black;
  width: 17rem;
  margin-left: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  font-weight:700;
}
.small-container1{
  display: flex;
  justify-content: space-around;
}
.small-container2{
  display: flex;
  justify-content:space-evenly;
}